@model IEnumerable<string>
    @{ 
        bool Horzontal = (bool)(ViewContext.RouteData.Values["MobileLayout"] ?? false);
        string WrapperClasses = Horzontal ? "btn-group btn-group-sm btn-group-justified" : null;
    }
<div class="">
    @Html.ActionLink("Home", "Pagination", "Book", null, new { @Class = "btn btn-block btn-default btn-lg" })
    @foreach (var link in Model)
        {
          @Html.RouteLink(link, new { controller = "Book", action = "Pagination", Specilization = link, page = 1 }, new { @Class = "btn btn-block btn-default btn-lg" + ((link == ViewBag.SelectedSpec) ? "btn-primary" : "").ToString() })
        }
</div>